.message {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.message h4 {
  color: white;
}

.messageText {
  flex: 1;
}

.messageButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}