.titleBar {
  color: white;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  background-image: linear-gradient(to bottom, black 2%, #125f95 60%, black);
}

.titleText {
  padding: 10px;
}